EVM_PRIVATE_KEY=your_private_key_here
EVM_RPC_URL=your_rpc_url_here

AVAX_RPC_URL=https://your-avalanche-fuji-rpc-url
SOLANA_RPC_URL=https://your-solana-devnet-rpc-url

# If you've already deployed contracts to devnet and 
# you'd like to run the typescript tests directly via
# yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts
#
# ANCHOR_PROVIDER_URL=https://your-solana-devnet-rpc-url
# ANCHOR_WALLET=/Users/path/to/local/wallet/.config/solana/id.json